@media (max-width: 415px){
  .containApp{
    height: 100vh;
  }
  .containSearchField{
    width: 90vw;
    margin-top: 12vh;
    .containName{
      font-size: 10vw;
      margin-bottom: -5vh;
    }
    #imageSearch {
      img{
        width: 55vw;
      }
    }
    #characterDescription{
      margin-top: -1vh;
      font-size: 4vw;
    }
    .fail{
      font-size: 3vw;
    }
    .item{

      img{
      width: 25vw;
    }
    }


  }
  #watcher{
    font-size: 7vw;
  }

  #searchImg{
    background-image: url("../images/search.jpg");
    background-size: cover;
    width: 80vw;
    height: 80vh;
    margin-top: 10vh;
  }
      .leftInput{
    form{
      position: absolute;
      bottom: 0;
      width: 80vw;
      input {
        font-size: 4vw;
        height: 4vw;
        color: #fff;
        border-bottom: 4px solid #EC1D25;
      }
      input:active, input:hover,input:focus {
        border-bottom: 3px solid #fff;
      }
      input::-webkit-input-placeholder {
      font-family: helvetica;
        font-size: 4vw;
        color: white;
      }
      #firstInput:-moz-placeholder {
                font-size: 4vw;
          color: white;
          padding-bottom: 2vh;
        }

      #firstInput::-moz-placeholder {
                  font-size: 4vw;
            color: white;
          }
    :-ms-input-placeholder{
              font-size: 4vw;
      color: white;
      padding-bottom: 2vh;
    }

    }
  }



  .containFlash{
  img{
    width: 70vw;
    margin-top: 5vw;
  }
  }
  .loadingText{
  font-size: 5vw;
  width: 80%;
  margin: 0 auto;
  }
  #heroName{
  font-size: 6vw;
  }
  #topLoad{
  font-size: 6vw;
  }
  .progress{
  width: 80%;
  margin: 10px auto;
  }

  .ui-autocomplete{
  font-size: 4vw;
  }

  .wrapper{
  margin-bottom: 2vh;
  }
  .fail{
  font-size: 4vw;
  }
}
