
.btn{
  margin-top: 20px;
  background-color: #333;
}
.inputDesc{
  color: #fff;
  margin: 10px 0;
  font-size: 20px;
}

.containProgress{
  height: 10vh;
}
.loadingText{
  font-size: 16px;
  color: #fff;
}
