#heroOneImg{
  z-index: -200;
  min-height: 500px;
  div{
    height: 100%;
    width: 50%;
  }
}

.containComic{
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  background-size: cover;
  width: 80vw;
  padding-bottom: 50px;
  min-height: 80vh;
  z-index: 2000;
    }
#containEvents{
  display: flex;
  justify-content: center;
}
#title{
  text-align: center;
}
#eventList{

}
.containName{
  text-align: center;
  font-size: 3vw;
}
#heroOneName{
  font-size: 3vw;
  margin-top: -10px;
  text-align: center;
}
#searchImg{
  background-image: url("../images/search.jpg");
  background-size: cover;
  width: 80vw;
  height: 80vh;
  display: flex;
  z-index: -40;
}
.leftInput{
  position: absolute;

  form{
    position: absolute;
    bottom: 0;
    width: 80vw;
    input {
      font-size: 3vh;
          text-align: center;
      height: 3vh;
      margin-bottom: -.1vh;
      padding-bottom: 1vh;
      color: white;
      border-bottom: 3px solid #EC1D25;
    }
    input:active, input:hover,input:focus {
      border-bottom: 3px solid #ffffff !important;
    }
  input::-webkit-input-placeholder {
    font-family: helvetica;
      font-size: 2vw;
      color: white;
      padding-bottom: 2vh;
    }
  input:-moz-placeholder {
        font-size: 2vw;
        color: white;
        padding-bottom: 2vh;
      }

  input::-moz-placeholder {
          font-size: 2vw;
          color: white;
          padding-bottom: 3vh;
        }
  :-ms-input-placeholder{
    font-size: 2vw;
    color: white;
    padding-bottom: 3vh;
  }

  }
}
.ui-autocomplete{
  max-height: 15vh;
  height: 100%;
  display: flex;
  width: 80vw;
  flex-wrap: wrap;
  flex-direction:column;
  overflow: scroll;
  background-color: white;
  bottom: 0;
  color: #333;
  font-size: 1.5vw;
  list-style-type: disc;
  li{
    margin-left: 10px;
  }
  li:hover{
    border-bottom: 5px solid #EC1D25
  }
}
.containName{
  margin-top: 0px;
color: #fff;

}
.containSearchField{
  width: 90vw;
  margin-top: 8vh;

}
#imageSearch{
  display: flex;
  justify-content: center;
  div{
    img{
      width: 25vw;
       }
       margin: 10px;
  }
}

#characterDescription{

display: flex;
justify-content: center;
width: 90%;
margin: 1.5vh auto;
font-size: 1.5vw;
}
.wrapper{
  display:flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;

}


.item{
  margin:0 5px;

  img{
  width: 8vw;
}
}
.item:nth-child(2n+1){
  margin:0 5px;
  img{
  width: 12vw;
}
}

.fail{
  display: flex;
  justify-content: center;
  p{
    color: #fff;
    font-size: 1.5vw;
  }
}
