#heroOneImg{
  z-index: -200;
  min-height: 500px;
  div{
    height: 100%;
    width: 50%;
  }
}

.containComic{
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
  background-size: cover;
  width: 80vw;
  margin: 0 auto;
  padding-bottom: 50px;
  min-height: 80vh;
  z-index: 2000;
  .containall{
    position: absolute;
    z-index: -250;
    height: 100%;
    width: 100%;
    opacity: .1;
  }
  .name{
    width: 100%;
  }
  .panel{
    width:30%;
    max-height: 300px;
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: scroll;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px 20px 20px 20px;
    background-color: #FFF;
    opacity: .85;
    border-radius: 10px;
    border: 1px dotted #333333;
    position: relative;
    p{
      opacity: 1;
    }

  }
  #divider1{
    width:5px;
    background-color: #333;
    position: absolute;
    height: 100%;
    left: 33%;
  }
  #divider2{
    width:5px;
    background-color: #333;

    color: white;
    position: absolute;
    height: 100%;
    left:66%;
  }
  #divider3{
    width:100%;
    background-color: #333;
    height: 5px;
    position: absolute;
    bottom: 40%;
    margin-bottom: 50px;
  }

}
#containEvents{
  display: flex;
  justify-content: center;
}
#title{
  text-align: center;
}
#eventList{

}
.containName{
  display: flex;
  justify-content: center;
}
#heroOneName{
  font-size: 3vw;
  margin-top: -10px;
  text-align: center;
}
#searchImg{
  background-image: url("../images/search.jpg");
  background-size: cover;
  width: 80vw;
  height: 80vh;
  form{
    position: absolute;
    bottom: 0;
    font-size: 28px;
    width: 80vw;
    input {
      font-size: 4vw;
      height: 4vw;
      color: white;
      padding-bottom: 20px;
      border-bottom: 4px solid #EC1D25;
    }
    input:active, input:hover,input:focus {
      border-bottom: 3px solid #fff;
    }
  input::-webkit-input-placeholder {
    font-family: helvetica;
      font-size: 4vw;
      color: white;
      padding-bottom: 20px;
    }
  input:-moz-placeholder {
        font-size: 4vw;
        color: white;
        padding-bottom: 2vh;
      }

  input::-moz-placeholder {
          font-size: 4vw;
          color: white;
        }
  :-ms-input-placeholder{
    font-size: 4vw;
    color: white;
    padding-bottom: 2vh;
  }

  }
}
.ui-autocomplete{
  height: 5vh;
  display: flex;
  width: 80vw;
  flex-wrap: wrap;
  flex-direction:row;
  overflow: scroll;
  background-color: white;
  bottom: 0;
  color: #333;
  font-size: 20px;
  list-style-type: disc;
  li{
    margin-left: 10px;
  }
}
.containComics{
  display:flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  .singleComic{
    width: 10%;
    min-width: 150px;
  }
}
