#heroOneImg{
  z-index: -200;
  min-height: 500px;
  div{
    height: 100%;
    width: 50%;
  }
}

.containComic{
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
  background-size: cover;
  width: 80vw;
  margin: 0 auto;
  padding-bottom: 50px;
  min-height: 80vh;
  z-index: 2000;
    }
#containEvents{
  display: flex;
  justify-content: center;
}
#title{
  text-align: center;
}
#eventList{

}
.containName{
  display: flex;
  justify-content: center;
}
#heroOneName{
  font-size: 3vw;
  margin-top: -10px;
  text-align: center;
}
#searchImg{
  background-image: url("../images/search.jpg");
  background-size: cover;
  width: 80vw;
  height: 80vh;
  form{
    position: absolute;
    bottom: 0;
    font-size: 28px;
    width: 80vw;
    input {
      font-size: 3vh;
      height: 3vh;
      color: white;
      padding-bottom: 2vh;
      margin-bottom: 3vh;
      border-bottom: 4px solid #EC1D25;
    }
    input:active, input:hover,input:focus {
      border-bottom: 3px solid #fff;
    }
  input::-webkit-input-placeholder {
    font-family: helvetica;
      font-size: 3vw;
      color: white;
      padding-bottom: 2vh;
    }
  input:-moz-placeholder {
        font-size: 3vw;
        color: white;
        padding-bottom: 2vh;
      }

  input::-moz-placeholder {
          font-size: 3vw;
          color: white;
          padding-bottom: 2vh;
        }
  :-ms-input-placeholder{
    font-size: 3vw;
    color: white;
    padding-bottom: 2vh;
  }

  }
}
.ui-autocomplete{
  height: 15vh;
  display: flex;
  width: 80vw;
  flex-wrap: wrap;
  flex-direction:row;
  overflow: scroll;
  background-color: white;
  bottom: 0;
  color: #333;
  font-size: 20px;
  list-style-type: disc;
  li{
    margin-left: 10px;
  }
}
.containName{
  margin-top: 0px;
color: #fff;

}
.containSearchField{

}
#imageSearch{
  display: flex;
  justify-content: center;
  div{
    img{
      width: 20vw;
       }
       margin: 10px;
  }
}
#characterDescription{


width: 60vw;
margin: 10px auto;
}
.containComics{
  display:flex;
  width: 90vw;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 20vh;

  .singleComic{

  }
}


.item{
  margin:0 5px;

  img{
  width: 12vw;
}
}
.item:nth-child(2n+1){
  margin:0 5px;

  img{
  width: 18vw;
}
}
