
@media (max-width: 320px){
  .containApp{
    height: 100%;
  }
  #searchImg{
    background-image: url("../images/search.jpg");
    background-size: cover;
    width: 80vw;
    height: 100vh;
    form{
      position: absolute;
      bottom: 0;
      font-size: 28px;
      width: 80vw;
      input {
        font-size: 4vw;
        height: 4vw;
        color: #fff;
        padding-bottom: 20px;
        margin-bottom: -20px;
        border-bottom: 4px solid #EC1D25;
      }
      input:active, input:hover,input:focus {
        border-bottom: 3px solid #fff;
      }
    input::-webkit-input-placeholder {
      font-family: helvetica;
        font-size: 4vw;
        color: white;
        padding-bottom: 20px;
      }
    input:-moz-placeholder {
          font-size: 4vw;
          color: white;
          padding-bottom: 2vh;
        }

    input::-moz-placeholder {
            font-size: 4vw;
            color: white;
          }
    :-ms-input-placeholder{
      font-size: 4vw;
      color: white;
      padding-bottom: 2vh;
    }

    }
  }
  .containComic{
    height: 100%;
    background-size: 100%;
    background-repeat: repeat space;
.panel{
  width: 90%;
}
#divider1, #divider2, #divider3{
  display: none;


}
}
#panelTwo{
  display: none;
}
#panelOne{
  order: 2;
}
#panelThree{
  order: 3;
}
#panelFour{
  order: 4;
}
#panelFive{
  order: 5;
}
#panelSix{
  order: 6;
}


}
