#heroOneImg {
  z-index: -200;
  min-height: 500px; }
  #heroOneImg div {
    height: 100%;
    width: 50%; }

.containComic {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  background-size: cover;
  width: 80vw;
  padding-bottom: 50px;
  min-height: 80vh;
  z-index: 2000; }

#containEvents {
  display: flex;
  justify-content: center; }

#title {
  text-align: center; }

.containName {
  display: flex;
  justify-content: center; }

#heroOneName {
  font-size: 3vw;
  margin-top: -10px;
  text-align: center; }

#searchImg {
  background-image: url("../images/search.jpg");
  background-size: cover;
  width: 80vw;
  height: 80vh; }
  #searchImg form {
    position: absolute;
    bottom: 0;
    font-size: 28px;
    width: 80vw; }
    #searchImg form input {
      font-size: 3vh;
      height: 3vh;
      color: white;
      padding-bottom: 2vh;
      margin-bottom: 3vh;
      border-bottom: 4px solid #EC1D25; }
    #searchImg form input:active, #searchImg form input:hover, #searchImg form input:focus {
      border-bottom: 3px solid #fff; }
    #searchImg form input::-webkit-input-placeholder {
      font-family: helvetica;
      font-size: 2vw;
      color: white;
      padding-bottom: 3vh; }
    #searchImg form input:-moz-placeholder {
      font-size: 2vw;
      color: white;
      padding-bottom: 3vh; }
    #searchImg form input::-moz-placeholder {
      font-size: 2vw;
      color: white;
      padding-bottom: 3vh; }
    #searchImg form :-ms-input-placeholder {
      font-size: 2vw;
      color: white;
      padding-bottom: 3vh; }

.ui-autocomplete {
  height: 15vh;
  display: flex;
  width: 80vw;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: scroll;
  background-color: white;
  bottom: 0;
  color: #333;
  font-size: 20px;
  list-style-type: disc; }
  .ui-autocomplete li {
    margin-left: 10px; }

.containName {
  margin-top: 0px;
  color: #fff; }

.containSearchField {
  width: 90vw; }

#imageSearch {
  display: flex;
  justify-content: center; }
  #imageSearch div {
    margin: 10px; }
    #imageSearch div img {
      width: 25vw; }

#characterDescription {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  text-align: center; }

.wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row; }

.item {
  margin: 0 5px; }
  .item img {
    width: 8vw; }

.item:nth-child(2n+1) {
  margin: 0 5px; }
  .item:nth-child(2n+1) img {
    width: 12vw; }

input[type=month] {
  height: 35px;
  margin: 0 auto;
  width: 100%;
  font-family: arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #959595;
  outline: none;
  border: 0;
  border-radius: 3px;
  padding: 0 3px;
  color: #fff; }
  input[type=month]::-webkit-datetime-edit-month-field {
    color: red; }
  input[type=month]::-webkit-datetime-edit-day-field {
    color: white; }
  input[type=month]::-webkit-datetime-edit-year-field {
    color: blue; }
  input[type=month]::-webkit-clear-button {
    font-size: 18px;
    height: 30px;
    position: relative;
    right: 5px;
    margin-right: 4px; }
  input[type=month]::-webkit-inner-spin-button {
    height: 30px; }
  input[type=month]::-webkit-calendar-picker-indicator {
    font-size: 18px; }
    input[type=month]::-webkit-calendar-picker-indicator:hover {
      background-color: #959595;
      color: #e6e6e6;
      cursor: pointer; }
    input[type=month]::-webkit-calendar-picker-indicator:active {
      color: blue; }

input[type="date"]::-webkit-input-placeholder {
  visibility: hidden !important; }

input::-webkit-calendar-picker-indicator {
  display: none; }

.btn {
  margin-top: 20px;
  background-color: #333; }

.inputDesc {
  color: #fff;
  margin: 10px 0;
  font-size: 20px; }

.containProgress {
  height: 10vh;
  margin-top: 20px; }

.loadingText {
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin: 10px 0; }

.containFlash {
  display: flex;
  justify-content: center; }

body {
  background-color: #333; }

#watcher {
  font-family: 'marvelComics'; }

.backgroundImg {
  height: 30vh;
  width: 30vw;
  opacity: .5; }

.containApp {
  overflow-x: hidden;
  background-color: #333333;
  display: flex;
  justify-content: center;
  height: 100vh; }

.ui-helper-hidden-accessible {
  display: none; }

.containStart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .containStart .leftInput {
    width: 50%; }
    .containStart .leftInput input {
      width: 100%;
      height: 40px;
      font-size: 3vw;
      text-align: center; }
    .containStart .leftInput input::-webkit-input-placeholder {
      font-size: 3vw;
      text-align: center; }
  .containStart button {
    width: 10%; }
  .containStart .rightInput {
    width: 40%; }
    .containStart .rightInput input {
      width: 100%;
      height: 40px;
      font-size: 3vw;
      text-align: center; }
    .containStart .rightInput input::-webkit-input-placeholder {
      font-size: 3vw;
      text-align: center; }

.homeBtn {
  display: flex;
  margin-left: 2vw;
  align-items: center a; }

#myNav {
  background-color: #ED1323;
  width: 100%; }

.hundred {
  width: 100%; }

#imgFlash {
  width: 100%;
  height: 100%; }

@media screen and (max-width: 400px) {
  #divider1, #divider2, #divider3 {
    display: none !important; }
  .panel {
    width: 80vw; }
    .panel p {
      font-size: 100px; } }
