@font-face {
  font-family: 'marvelComics';
  src: url("fonts/AVENGEANCE.otf") format("truetype"); }

#watcher {
  font-family: 'marvelComics'; }

.backgroundImg {
  height: 30vh;
  width: 30vw;
  opacity: .5; }

.containApp {
  width: 100vw;
  height: 100vh;
  background-color: #333333;
  display: flex;
  justify-content: center; }

.ui-helper-hidden-accessible {
  display: none; }

.containStart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .containStart .leftInput {
    width: 50%; }
    .containStart .leftInput input {
      width: 100%;
      height: 40px;
      font-size: 18px;
      text-align: center; }
    .containStart .leftInput input::-webkit-input-placeholder {
      font-size: 18px;
      text-align: center; }
  .containStart button {
    width: 10%; }
  .containStart .rightInput {
    width: 40%; }
    .containStart .rightInput input {
      width: 100%;
      height: 40px;
      font-size: 18px;
      text-align: center; }
    .containStart .rightInput input::-webkit-input-placeholder {
      font-size: 18px;
      text-align: center; }

.homeBtn {
  display: flex;
  margin-left: 2vw;
  align-items: center a; }

#myNav {
  background-color: #ED1323; }
