<div class = "containFlash">
  <div>
  <img ng-src={{heroOne.img}} >
  </div>
</div>
<div class="containProgress">
  <div class = "loadingText" id="topLoad">Loading</div>
<div class="progress">
      <div class="indeterminate"></div>
  </div>
  <div > <p class = "loadingText">You are searching for the first comics pertaining to <span id = "heroName">{{heroOne.name}}</span> from <span id="startDateProgress"></span> to <span id = "endDateProgress"></span></p>
  </div>
  </div>

<div class="containSearch">
<div class = "inputDesc">Please select a start date</div><input type="month" id="startDate" min="1961-11" max="2017-12">
<div class = "inputDesc">Please select an end date</div>
<input type="month" id="endDate" min="1961-12" max="2017-12">
<button ng-click = "secondClick()" class = "btn waves-effect waves-light">Search</button>
</div>
