  <div class="containSearchField">
    <div class="containName">
      <h1>{{heroOne.name}}</h1>
    </div>
    <div id = "imageSearch">
      <div>
      <img ng-src= "{{heroOne.img}}" alt="" width = "80vw">
      </div>
    </div>
    <div>
      <span></span>
    </div>
  <div id ="characterDescription" style = "color: #fff;">
    <div>
    {{heroOne.description}}
    </div>
  </div>

  <div class="containDates" >
    {{endDate}} {{startDate}}
  </div>
  <div class="containComics">
    <div ng-repeat ="secondImage in secondImages" class="item" danny-packery>
     <img ng-src="{{secondImage}}" alt="" class = "comicExpand"> </div>

  </div>
  </div>
