


<div class="containComic">
<img src="http://i.imgur.com/EROmu7A.jpg" alt="" class = "containall">
  <div class="name"></div>

<div class="panel">
  <p id = "heroOneDescription"></p>

</div>
<div id="divider1"></div>
<div class="panel">
<h1 id = "heroOneName"> </h1>
</div>

<div id="divider2"></div>
<div class="panel">
  <ul id = "eventList"></ul>

</div>
<div id="divider3">&nbsp;</div>
<div class="panel">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam dignissimos molestiae, pariatur esse, magni mollitia iure quam alias voluptas nemo consequuntur aut iste officiis tenetur adipisci aliquid quis inventore, vitae!
</div>
<div id="divider3">&nbsp;</div>
<div class="panel">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam dignissimos molestiae, pariatur esse, magni mollitia iure quam alias voluptas nemo consequuntur aut iste officiis tenetur adipisci aliquid quis inventore, vitae!
</div>
<div id="divider3">&nbsp;</div>
<div class="panel">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam dignissimos molestiae, pariatur esse, magni mollitia iure quam alias voluptas nemo consequuntur aut iste officiis tenetur adipisci aliquid quis inventore, vitae!
</div>
</div>

</div>
