<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="utf-8">
       <meta name="description" content="">
       <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>
  <!--build:css css/styles.min.css-->
  <link rel="stylesheet" href="css/print.css">
  <link rel="stylesheet" href="css/materialize.css">
  <link rel="stylesheet" href="css/search.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/media.css">
  <script src = "js/lib/asynch.js"></script>
  <script src="js/lib/angular.min.js"></script>
  <script src="js/lib/jQuery.js"></script>
  <script src="js/lib/angularUiRouter.js"></script>
  <script src= "js/lib/jquery-ui.js"></script>

  <!--endbuild-->
</head>

<body ng-controller="myCtrl">
  <div>
    <img src="" alt="" id = "imgFlash">
  </div>
  <input type="date" id="startDate">
  <input type="date" id="endDate">
  <button ng-click = "recordDate()">clickMe</button>

  <!-- endbuild -->
</body>
<script src="js/main.js" ></script>

</html>
